
/*
Assan main style file
*/
/*@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Prata");
@font-face {
  font-family: 'FontAwesome';
  src: url("./font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("./font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("./font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("./font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("./font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("./font-awesome/fonts/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }*/

/*themify icons*/
/*@font-face {
  font-family: 'themify';
  src: url("./themify-icons/fonts/themify.eot");
  src: url("./themify-icons/fonts/themify.eot?#iefix") format("embedded-opentype"), url("./themify-icons/fonts/themify.woff") format("woff"), url("./themify-icons/fonts/themify.ttf") format("truetype"), url("./themify-icons/fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
  }*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
Basic of template
*/
html, body, .fullScreen {
  height: 100%; }

body {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
  letter-spacing: 0px;
  font-family:'Montserrat', "Poppins", sans-serif;
  overflow-x: hidden; }

button, input, optgroup, select, textarea {
/*  font-family: "Poppins", sans-serif; */
}
.container{
  max-width: 1200px;
}
button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

/*a {
  color: #4897d9;
  text-decoration: none; }
  a {
    color: #e63e3e;
    text-decoration: none;
}*/
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

.tritary-font {
  font-family: "Prata", serif;
  font-weight: 400; }

.base-font {
 // font-family: "Poppins", sans-serif;
  font-weight: 300; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font500 {
  font-weight: 600 !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0px;
  color: #222;
  font-weight: 500;
  letter-spacing: 0px;
  //font-family: "Poppins", sans-serif; 
}

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px;
  line-height: 42px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }
  h4 small {
    font-size: 12px;
    color: #999; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 11px; }

h5, h6, .h5, .h6 {
  margin-bottom: 20px;
  font-weight: 700; }
  .text-xs{
    font-size: smaller;
  }
 input[type="text"] .input-xs{
    min-height: 30px !important;
    padding: 0px;
    font-size: smaller;
  }
  input.form-control.input-search{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .text-muted{
    color: #999999
  }
  .text-muted2{
    color: #bebebe
  }
  img.img-responsive,.img-responsive{
    max-width: 100%;
  }
  .card_main img,img{
    max-width: 100%;
  }
   .img-circle{
    border-radius: 50%;
  }
.text-bold{font-weight: bold}
.label {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 10px; }
.bg-blue{
  background: #0c8bf6 ;
}
.bg-faded {
  background: #F9F9F9; }

.badge-primary {
  background: #4897d9 !important; }

.bg-primary {
  background: #4897d9 !important;
  border-color: #4897d9; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #333;
  background-color: #333; }

.bg-white {
  background: #fff; }

.text-primary {
 /* color: #4897d9 !important; */
  color: #0c8bf6  !important; 
}

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #222222 !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.pos-relative {
  position: relative; }
.hidden{display: none;}
.lead {
  font-weight: 300; }
.borderc{border: 1px solid #ccc}
.borderd{border: 1px solid #dddddd}
strong, b {
  font-weight: 600; }
.fnormal,.normal{font-weight: 400;}
.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

.mr0 {
  margin-right: 0px !important; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }
  .bg-grey{
        background: #898989;
  }
  .rond0{border-radius: 0px;}

.border0-hor {
  border-left: 0 !important;
  border-right: 0 !important; }

.back-to-top {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 10px;
  right: 10px;
  /*background: #4897d9;*/
  background: #164d7b;
  color: #fff;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0); }
  .back-to-top i {
    display: block;
    font-size: 25px;
    line-height: 50px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

/**preloader**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

@media (min-width: 992px) {
  .table-responsive {
    display: table; } }

.bg1 {
  background: url(../images/bg2.jpg) no-repeat; }

.col-grid {
  padding: 10px 15px;
  background: #eee;
  border: 1px solid #fff; }

.list-icon li {
  position: relative;
  padding-left: 23px;
  margin-top: 5px;
  display: block;
//  font-family: "Poppins", sans-serif; 
}
  .list-icon li:before {
    content: "\e64c";
    font-family: 'themify';
    position: absolute;
    left: 0;
    top: 0;
    color: #4897d9; }

.left-title {
  margin-bottom: 30px;
  text-transform: capitalize; }

.center-title {
  text-align: center; }
  .center-title h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px !important;
    padding-bottom: 15px;
    position: relative;
    font-size: 1.5rem; }
    .center-title h3:after {
      content: "";
      position: absolute;
      width: 60px;
      height: 3px;
      background-color: #eee;
      bottom: 0;
      left: 50%;
      margin-left: -30px; }
  .center-title.light h3 {
    color: #fff;
    border-color: #fff; }
  .center-title.light p {
    color: rgba(255, 255, 255, 0.8); }

.call-to-action .container {
  position: relative;
  z-index: 10; }

.call-to-action:before {
  opacity: 1 !important; }

/*****

Form controls

******/
.form-control, input[type="text"], input[type="email"], input[type="phone"], input[type="password"], textarea {
  min-height: 45px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  background-color: #fcfcfc;
  font-size: 13px; }

.white-page-content {
  position: relative; }
  .white-page-content:after {
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #f1f1f1 0%, white 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(80%, white));
    background: -webkit-linear-gradient(top, #f1f1f1 0%, white 80%);
    background: -o-linear-gradient(top, #f1f1f1 0%, white 80%);
    background: -ms-linear-gradient(top, #f1f1f1 0%, white 80%);
    background: linear-gradient(to bottom, #f1f1f1 0%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 );
    content: "";
    left: 0;
    height: 110px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.breadcrumb {
  background-color: transparent;
  padding-left: 0px;
  padding-bottom: 0px; }
  .breadcrumb .breadcrumb-item {
    font-size: 12px; }

.page-linear {
  background-image: url("../images/page-bg.png");
  background-repeat: no-repeat;
  background-position: center left; }

.img-center {
  display: block;
  margin: 0 auto; }

/*
Preloader style
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999; }

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #4897d9;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0rem;
  font-size: .9rem;
 // font-family: "Poppins", sans-serif;
  padding: 13px 25px 10px !important;
  /*text-transform: uppercase; */
}
  .btn i {
    display: inline-block;
    margin-right: 8px; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
    .btn:hover:before, .btn:focus:before {
      transition: all .3s;
      z-index: -1; }
  .btn.btn-link {
    border: 0px;
    padding: 0px !important; }
  .btn.btn-sm {
    padding: 6px 15px 6px !important;
    font-size: .7rem;
    margin-top: 5px;
    font-weight: 500; }
  .btn.btn-lg {
    padding: 16px 30px 13px !important;
    font-size: .95rem; }
  .btn.btn-link {
    color: #4897d9;
    text-transform: capitalize; }
    .btn.btn-link:after {
      font-family: 'FontAwesome';
      content: "\f101";
      margin-left: 5px;
      font-size: 12px; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #999; }

.btn-white {
  background-color: #fff;
  color: #333; }

.btn-white-outline {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff; }
  .btn-white-outline:hover, .btn-white-outline:focus {
    color: #333;
    border-color: #fff; }
    .btn-white-outline:hover:before, .btn-white-outline:focus:before {
      width: 100%;
      background-color: #fff; }

.btn-outline-primary {
  border: 2px solid #4897d9;
  background-color: transparent;
  color: #4897d9; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    border-color: #4897d9;
    background-color: transparent; }
    .btn-outline-primary:hover:before, .btn-outline-primary:focus:before, .btn-outline-primary:active:before {
      width: 100%;
      background-color: #4897d9; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-success {
  border: 2px solid #5cb85c;
  background-color: transparent;
  color: #5cb85c; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    color: #fff;
    border-color: #5cb85c;
    background-color: transparent; }
    .btn-outline-success:hover:before, .btn-outline-success:focus:before, .btn-outline-success:active:before {
      width: 100%;
      background-color: #5cb85c; }

.btn-outline-danger {
  border: 2px solid #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: #fff;
    border-color: #c9302c;
    background-color: transparent; }
    .btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
      width: 100%;
      background-color: #c9302c; }

.btn-outline-warning {
  border: 2px solid #f0ad4e;
  background-color: transparent;
  color: #f0ad4e; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    color: #fff;
    border-color: #f0ad4e;
    background-color: transparent; }
    .btn-outline-warning:hover:before, .btn-outline-warning:focus:before, .btn-outline-warning:active:before {
      width: 100%;
      background-color: #f0ad4e; }

.btn-outline-secondary {
  border: 2px solid #ccc;
  background-color: transparent;
  color: #ccc; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: #fff;
    border-color: #ccc;
    background-color: transparent; }
    .btn-outline-secondary:hover:before, .btn-outline-secondary:focus:before, .btn-outline-secondary:active:before {
      width: 100%;
      background-color: #ccc; }

/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary {
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
  border: 0px; }
  .btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-secondary {
  background: #f5f5f5;
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #333;
    box-shadow: none; }

.btn-primary {
  /*background: #4897d9;*/
  background: #0c8bf6;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #4897d9;
    color: #fff; }

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
  .btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.icon-sm-rounded {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block !important;
  text-align: center;
  border-radius: 50%;
  background: #4897d9;
  color: #fff; }

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon:hover {
  border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-lg:hover {
  border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }

.social-icon-lg i:last-child {
  color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-sm:hover {
  border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }

.social-icon-sm i:last-child {
  color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

/*
Assan real estate Header Style
*/
.navbar {
/*  padding: 1.3rem 1rem;*/
}

.navbar-light.bg-faded {
  background: #fff;
  border-bottom: 0px; 
  /*background: #222*/

}

.navbar-light .navbar-nav .nav-link, .navbar-right-elements a {
  color: rgba(0, 0, 0, 0.7); 
 /* color: #ffffff;*/ 
}

.navbar-nav > li > .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  //font-family: "Poppins", sans-serif;
   }

.navbar-nav > li .navbar-light .navbar-nav .nav-link:focus, .navbar-nav > li .navbar-light .navbar-nav .nav-link:hover {
  color: #4897d9; }

.navbar-nav > li.dropdown-full-width {
  position: static; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #4897d9; }

.navbar-toggler-right {
  position: absolute;
  right: 2rem; }

.navbar-toggler {
  border: 0px !important; }

.navbar-inverse .navbar-right-elements .list-inline > li > a {
  color: rgba(255, 255, 255, 0.5); }

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-right-elements .list-inline > li > a:hover {
  color: rgba(255, 255, 255, 0.75); }

/**header transparent and semi transparent**/
@media (min-width: 992px) {
  .navbar-transparent.navbar .navbar-brand {
    position: relative;
    top: -5px; }
  li.nav-item.nav-button {
    position: relative;
    top: -3px; }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem; }
  .navbar-nav {
    margin-right: -15px; }
  .navbar-nav {
    margin-right: 30px; }
  .navbar.navbar-transparent {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 54px;
    z-index: 99; }
    .navbar.navbar-transparent.navbar-light.bg-faded {
      background: transparent;
      border: 0px; }
      .navbar.navbar-transparent.navbar-light.bg-faded .nav-link {
        color: rgba(255, 255, 255, 0.7); }
        .navbar.navbar-transparent.navbar-light.bg-faded .nav-link:hover {
          color: white; }
      .navbar.navbar-transparent.navbar-light.bg-faded .active .nav-link, .navbar.navbar-transparent.navbar-light.bg-faded .show .nav-link {
        color: white; }
      .navbar.navbar-transparent.navbar-light.bg-faded.navbar-semi-transparent {
        background-color: rgba(255, 255, 255, 0.1); 
      }
    .navbar.navbar-transparent.navbar-inverse.bg-inverse {
      background: transparent !important;
      border: 0px; }
      .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-link, .navbar.navbar-transparent.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a {
        color: rgba(0, 0, 0, 0.7); }
        .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-link:hover, .navbar.navbar-transparent.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a:hover {
          color: #4897d9; }
      .navbar.navbar-transparent.navbar-inverse.bg-inverse .nav-item.active .nav-link {
        color: #4897d9 !important; }
    .navbar.navbar-transparent .dropdown-menu {
      border-top-color: #4897d9; }
    .navbar.navbar-transparent .search-inline .form-control {
      padding-left: 0px; }
    .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a {
      color: rgba(255, 255, 255, 0.7); }
      .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a:hover {
        color: white; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .show .nav-link {
      color: #4897d9 !important; }
    .navbar.navbar-transparent.nav-landing {
      top: 0px; }
      .navbar.navbar-transparent.nav-landing .navbar-nav {
        margin-right: 5px; }
  /**header sticky**/
  .navbar.navbar-transparent.nav-sticky .navbar-brand .logo {
    position: absolute;
    top: -10px; }
    .navbar.navbar-transparent.nav-sticky .navbar-brand .logo.logo-dark {
      opacity: 0; }
  .navbar.navbar-transparent.nav-sticky.nav-stick-top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded {
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      animation: fadeInDown 0.3s ease-out forwards;
      padding: 1rem 1rem; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-dark {
        opacity: 1; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-light {
        opacity: 0; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-right-elements .list-inline > li > a {
        color: rgba(0, 0, 0, 0.7); }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse {
      background-color: #292b2c !important;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      animation: fadeInDown 0.3s ease-out forwards;
      padding: 1rem 1rem; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-right-elements .list-inline > li > a {
        color: rgba(255, 255, 255, 0.7); }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-brand .logo.logo-dark {
        opacity: 1; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .navbar-brand .logo.logo-light {
        opacity: 0; }
      .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-inverse.bg-inverse .nav-item.active .nav-link {
        color: #4897d9 !important; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .show .nav-link {
      color: #4897d9; }
  /**navbar light transparent**/
  .navbar-light.navbar-transparent-light {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent; }
  /**top bar**/
  .top-bar.topBar-transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent; }
  .navbar-standard .dropdown-menu.dropdown-mega-fw {
    margin-top: 8px; }
  .navbar-standard .navbar-right-elements {
    top: 14px; }
  .navbar.navbar-transparent.nav-sticky.nav-landing .nav-link.btn.btn-primary {
    color: #fff !important; } }

@media (max-width: 991px) {
  .navbar-toggleable-md > .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 576px) {
  .container {
    width: 100%; } }

.navbar-right-elements {
  float: none !important;
  position: absolute;
  top: 09px;
  right: 15px; }
  .navbar-right-elements .list-inline {
    margin-bottom: 0px; }
    .navbar-right-elements .list-inline > li > a {
      padding: .3rem .3rem;
      display: block;
      position: relative;
      top: -3px; }
      .navbar-right-elements .list-inline > li > a i {
        display: block; }

.search-inline {
  width: 100%;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  height: 59px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  z-index: 9; }
  .search-inline.search-visible {
    opacity: 1;
    visibility: visible;
    animation: fadeInDown 0.3s ease-out forwards; }
  .search-inline button[type="submit"] {
    position: absolute;
    right: 52px;
    top: 0;
    background-color: transparent;
    border: 0px;
    top: 0;
    right: 80px;
    padding: 0px;
    cursor: pointer;
    width: 80px;
    height: 100%;
    background: #f5f5f5;
    color: #333; }
  .search-inline .form-control {
    border: 0px;
    padding-left: 0;
    font-size: 2rem;
    position: relative;
    left: 1%;
    top: 0;
    height: 59px;
    width: 99%;
    font-family: "Poppins", sans-serif;
    font-weight: 700; }
  .search-inline .search-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    width: 80px;
    height: 59px;
    text-align: center;
    display: block;
    line-height: 59px; }
    .search-inline .search-close i {
      display: inline-block; }

.navbar-brand {
  position: relative; }

/**top bar**/
.top-bar {
  padding-top: 10px; }

.top-bar.topBar-transparent {
  padding: 10px 0; }
  .top-bar.topBar-transparent span {
    color: #fff; }

.top-bar span {
  display: block;
  float: left;
  margin-right: 15px;
  line-height: 32px;
  vertical-align: middle; }
  .top-bar span i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

.top-bar .social-icon-sm {
  margin-bottom: 0 !important; }

/*****************************
Advanced search
*****************************/
.pushy {
  width: 290px;
  background-color: #fff; }
  .pushy.pushy-right {
    -webkit-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0); }

.pushy-open-left .pushy, .pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.advanced-search {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px; }
  .advanced-search h4 {
    font-weight: 500;
    margin-bottom: 0px; }
  .advanced-search .form-control {
    font-size: 13px;
    background-color: #fbfbfb; }

/*
Dropdown menu styles
*/
.dropdown-menu {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  min-width: 12rem;
  border: 0px; }
  .dropdown-menu.lang-dropdown {
    width: 100px;
    min-width: 100px; }
    .dropdown-menu.lang-dropdown > li > a {
      line-height: 18px !important; }

.dropdown-menu .dropdown-item, .mega-inner-nav li a {
  font-weight: 400;
  font-size: 15px;
  color: #222222;}

/**mulit level dropdown**/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #f7f7f7;
  margin-top: 8px;
  margin-right: -5px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ccc; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}

@media (min-width: 992px) {
  .dropdown-menu {
    /*border-top: 3px solid #4897d9;*/
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin-top: 15px; 
    border-radius: 5px;
  }
  .navbar-inverse .dropdown-menu {
    border-top: 3px solid #4897d9; 
  }
  .dropdown-menu.dropdown-mega-fw {
    position: absolute;
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 0px;
    top: 100%; }
  .mega-menu-content {
    padding: 30px 0;
    padding-bottom: 20px; }
  .dropdown-menu, .dropdown-submenu .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .show > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; } }

.mega-title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.mega-inner-nav li {
  vertical-align: middle; }
  .mega-inner-nav li a {
    display: block; }
    .mega-inner-nav li a:hover {
      color: #4897d9;
      background-color: transparent; }
    .mega-inner-nav li a i {
      margin-right: 6px;
      position: relative;
      top: 1px;
      font-size: 13px;
      width: 16px;
      display: inline-block; }

.dropdown .dropdown-menu .dropdown-item, .mega-inner-nav > li > a {
  padding: 7px 20px;
  /*text-transform: capitalize; */
}
  .dropdown .dropdown-menu .dropdown-item:hover, .mega-inner-nav > li > a:hover {
    background-color: transparent;
    color: #4897d9; }
  .dropdown .dropdown-menu .dropdown-item:focus, .mega-inner-nav > li > a:focus {
    background-color: transparent;
    color: #4897d9; }

.mega-inner-nav > li > a {
  padding: 7px 0; }

@media (min-width: 992px) {
  .mega-menu-content .row .col-lg-3:first-child {
    border-left: 0; }
  .mega-menu-content .row .col-lg-3 {
    border-left: 1px solid #eee;
    padding: 0px 30px; } }

/*
Page title styles
*/
.page-titles-img {
  background: url(../images/texture1.jpg) no-repeat top left;
  background-size: 100%;
  padding-top: 250px;
  padding-bottom: 40px;
  background-attachment: fixed; }
  .page-titles-img h3 {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }

.page-title-gray {
  padding: 50px 0;
  background-color: #fafafa; }

/*
Template sidebar
*/
.sidebar-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px; }
  .sidebar-title:before {
    content: "";
    width: 60px;
    height: 4px;
    background: #0C8BF6;
    position: absolute;
    bottom: 0;
    left: 0; }
     .sidebar-title2:before {
    content: "";
    width: 60px;
    height: 4px;
    background: #E42626;
    position: absolute;
    bottom: 0;
    left: 0; }

.categories li {
  vertical-align: middle; }
  .categories li > ul {
    padding-left: 15px; }
    .categories li > ul > li > a {
      font-weight: 300; }
  .categories li a {
    color: #999;
    position: relative;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #eee; }
    .categories li a:before {
      content: "\f0da";
      font-family: 'FontAwesome';
      margin-right: 5px; }
    .categories li a:hover {
      color: #444;
      background-color: #ffffff; }

.categories > li.active > a {
  font-weight: 600;
  color: #444; }

.media-body h5 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  font-weight: 400; }
  .media-body h5 a {
    color: #444; }
    .media-body h5 a:hover {
      color: #4897d9; }

/*
Revolution slider customization
*/
/**main slider**/
.property-title {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif; }

.property-price {
  font-family: "Prata", serif;
  font-weight: 400;
  color: #fff;
  display: block;
  padding: 10px 0px !important;
  border-bottom: 2px solid #fff; }

/*
Images overlay hover styles
*/
.listing-thumb, .thumb-hover-icon, .agent-hover, .cbp-caption, .news-thumb, .parallax-overlay {
  position: relative;
  overflow: hidden;
  display: block; }
  .listing-thumb:before, .thumb-hover-icon:before, .agent-hover:before, .cbp-caption:before, .news-thumb:before, .parallax-overlay:before {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    content: "";
    z-index: 9;
    opacity: 0;
    background: linear-gradient(to bottom, transparent 20%, #000);
    background: -webkit-linear-gradient(to bottom, transparent 20%, #000);
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s; }
  .listing-thumb:hover:before, .thumb-hover-icon:hover:before, .agent-hover:hover:before, .cbp-caption:hover:before, .news-thumb:hover:before, .parallax-overlay:hover:before {
    opacity: .9; }
  .listing-thumb .container, .thumb-hover-icon .container, .agent-hover .container, .cbp-caption .container, .news-thumb .container, .parallax-overlay .container {
    z-index: 10;
    position: relative; }

.listing-card {
  position: relative;
  overflow: hidden; }

.listing-thumb {
  border-radius: 5px;
  -webkit-border-radius: 5px; }
  .listing-thumb .listing-label {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
    .listing-thumb .listing-label.rent {
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff; }
    .listing-thumb .listing-label.sale {
      background-color: #4897d9;
      color: #fff; }
  .listing-thumb img {
    transition: all .3s;
    -webkit-transition: all .3s; }
  .listing-thumb span.featured {
    background-color: #c9302c;
    float: left;
    transform: rotate(-45deg);
    left: -67px;
    top: 17px;
    text-align: center;
    width: 200px;
    font-size: 12.5px;
    margin: 0;
    position: absolute;
    color: #fff;
    z-index: 3;
    display: inline-block;
    padding: 6px 10px; }

.listing-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-left: 20px;
  padding-bottom: 20px; }
  .listing-content .listing-title, .listing-content .listing-price {
    color: #fff; }
  .listing-content .listing-title {
    font-weight: 400;
    margin-bottom: 5px; }

.listing-meta {
  padding-top: 15px;
  margin-bottom: 0px; }
  .listing-meta li {
    position: relative; }
    .listing-meta li:before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #eee;
      position: absolute;
      right: 0;
      top: 0; }
    .listing-meta li:first-child {
      padding-right: 10px; }
    .listing-meta li:last-child:before {
      display: none; }
    .listing-meta li + li {
      padding-left: 10px;
      padding-right: 15px; }
    .listing-meta li span {
      font-weight: 500;
      color: #333;
      display: block;
      font-family: "Poppins", sans-serif; }

/*
Image boxes styled hover styles
*/
.thumb-hover-icon {
  position: relative;
  display: block;
  width: 75px;
  height: auto;
  border-radius: 5px;
  float: left;
  margin: 3px; }

.thumb-hover-icon img {
  border-radius: 5px; }

.thumb-hover-icon span {
  width: 24px;
  height: 24px;
  display: block;
  line-height: 24px;
  text-align: center;
  background: #4897d9;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -12px;
  color: #fff;
  border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all .3s;
  -webkit-transition: all .3s; }

.thumb-hover-icon:hover span {
  transform: scale(1);
  -webkit-transform: scale(1); }

.simple-hover {
  position: relative;
  display: block;
  overflow: hidden; }

.simple-hover img {
  transform: scale(1);
  -webkit-transform: scale(1); }

.simple-hover:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

/**listing-card**/
.listing-card-alt {
  padding: 40px 0 20px;
  border-bottom: 2px solid #ececec; }
  .listing-card-alt .label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0px 5px;
    font-size: 12px;
    color: #999 !important;
    margin-right: 5px; }
  .listing-card-alt h2 {
    margin-top: 15px; }
  .listing-card-alt ul li {
    position: relative;
    padding-left: 40px;
    font-size: 15px;
    vertical-align: middle;
    margin-top: 15px; }
    .listing-card-alt ul li > i {
      position: absolute;
      left: 0;
      top: 6px;
      font-size: 20px;
      color: #000; }

/**property-listing-row**/
.rating {
  font-size: 12px; }
  .rating > i {
    color: #FFDC00 !important; }

.property-listing-row {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #ececec;
  margin-top: 30px; }
  .property-listing-row .listing-content-alt h3 {
    font-size: 1rem;
    font-weight: 500; }
    .property-listing-row .listing-content-alt h3 a {
      color: #000; }
      .property-listing-row .listing-content-alt h3 a:hover {
        color: #4897d9; }
  .property-listing-row .listing-content-alt h4 {
    font-size: 1rem; }

.listing-row-inline {
  padding-top: 20px; }
  .listing-row-inline li + li {
    padding-left: 5px; }
  .listing-row-inline li a {
    color: #a1b1bc;
    font-size: 12px; }
    .listing-row-inline li a i {
      margin-right: 5px; }
    .listing-row-inline li a:hover {
      color: #4897d9; }

.listing-filter .form-control {
  width: 150px;
  min-height: 20px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px; }

.summary li {
  vertical-align: middle;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px dashed #eee; }
  .summary li > i {
    width: 32px;
    height: 32px;
    background-color: #fbfbfb;
    color: #333;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1); }

.summary .float-right {
  color: #777;
  font-size: 15px;
  font-weight: 400; }

.img-only {
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1); }

/**half image section**/
@media (min-width: 992px) {
  .half-image-content {
    position: relative;
    overflow: hidden; }
  .half-image-content .content-img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%; }
  .half-image-content .content-img.pos-left {
    left: 0; }
  .half-image-content .content-img.pos-right {
    right: 0; } }

/*
Owl Slider
*/
.owl-carousel {
  position: relative; }
  .owl-carousel .owl-nav {
    position: absolute;
    width: auto;
    top: -45px;
    right: -5px; }
    .owl-carousel .owl-nav [class*=owl-] {
      padding: 1px 5px;
      font-size: 12px;
      background-color: #f5f5f5;
      text-transform: capitalize;
      color: #333;
      transition: all .3s;
      -webkit-transition: all .3s; }
      .owl-carousel .owl-nav [class*=owl-]:hover {
        background-color: #4897d9; }

.clients-inner {
  padding: 0px 20px;
  background-color: #fff;
  position: relative;
  bottom: -40px; }
  .clients-inner .item img {
    display: block;
    margin: 0 auto; }

/*
Reviews
*/
.review-card {
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center; }
  .review-card h5 {
    margin-bottom: 0px; }
  .review-card ul {
    margin-bottom: 0px; }

.review-author {
  padding-bottom: 20px; }
  .review-author .img-fluid {
    width: 120px !important;
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px; }

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4897d9; }

/*
Cube portfolio custom css using in popular places
*/
.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
  background-color: transparent;
  opacity: 1;
  transition: all .3s;
  -webkit-transition: all .3s;
  z-index: 10; }

.cbp-l-grid-mosaic-flat .cbp-l-caption-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

/*
Agent cards
*/
.agent-card h4 {
  margin-bottom: 0px; }

.agent-hover {
  margin-bottom: 22px;
  border-radius: 5px; }
  .agent-hover .img-fluid {
    border-radius: 5px; }
  .agent-hover span {
    position: absolute;
    left: 50%;
    top: 80%;
    margin-top: -11px;
    margin-left: -36px;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s; }
  .agent-hover:hover span {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }

.contact-list-item.ligh-list li {
  color: #999; }
  .contact-list-item.ligh-list li > i {
    background-color: #4897d9;
    color: #fff; }

/*
Pagination styles
*/
.pagination >li{
  padding: 8px 10px;
    border: 1px solid #eee;
    margin-left: -1px;
     background: #fff;
}
.pagination{margin: 20px 0px;}
.pagination >li:hover{
  background: #f9f9f9;
}
.page-link {
  border: 0px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: #fbfbfb;
  color: #999; }

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #4897d9; }

/*
News card
*/
.news-card .news-thumb {
  border-radius: 5px; }
  .news-card .news-thumb .news-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    z-index: 10; }
    .news-card .news-thumb .news-overlay h3, .news-card .news-thumb .news-overlay span {
      color: #fff; }
    .news-card .news-thumb .news-overlay h3 {
      font-size: 1rem; }
    .news-card .news-thumb .news-overlay span {
      opacity: .7; }
  .news-card .news-thumb:before {
    opacity: .3; }
  .news-card .news-thumb:hover:before {
    opacity: 1; }

.news-content {
  padding-top: 15px; }

.post-card {
  border: 1px solid #eee; }
  .post-card .post-meta {
    padding: 20px 15px; }
    .post-card .post-meta span {
      font-size: 12px;
      display: block;
      margin-bottom: 10px; }
    .post-card .post-meta p {
      margin-bottom: 10px; }
  .post-card h3 a {
    color: #000;
    font-size: 20px; }
    .post-card h3 a:hover {
      color: #999; }

.share-buttons li {
  vertical-align: middle; }

.post-meta {
  padding-top: 15px;
  margin-bottom: 20px; }

.post-meta li:not(:last-child) {
  margin-right: 10px; }

.post-meta li a {
  color: #999; }

.post-meta li a:hover {
  color: #4897d9; }

.post-meta li i {
  margin-right: 5px; }

.post-meta li:after {
  margin-top: -5px;
  content: "/";
  margin-left: 10px; }

.post-meta li:last-child:after {
  display: none; }

/*
Static heros
*/
.bg-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden; }

.parallax-overlay:before {
  opacity: 1 !important; }

.hero-search {
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative; }

/*
Smart form customization
*/
.smart-forms {
  font-family: "Poppins", sans-serif; }

.smart-forms .tagline span {
  font-weight: 500;
  color: #666; }

.smart-container {
  box-shadow: none; }

.smart-wrap {
  padding: 0px; }

.smart-container {
  margin: 0 auto; }

.smart-forms .form-body {
  padding: 0px;
  padding-bottom: 20px; }

.smart-forms .form-footer {
  overflow: hidden;
  padding: 0px;
  padding-top: 0px;
  background: #fff;
  background-image: none; }

.smart-forms .refresh-captcha {
  background-color: #5bc0de;
  border-color: #4897d9; }

.smart-forms .button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600; }

.smart-forms .btn-primary {
  background-color: #4897d9; }
  .smart-forms .btn-primary:active {
    background-color: #4897d9; }
  .smart-forms .btn-primary:hover, .smart-forms .btn-primary:focus {
    background-color: #4897d9; }

.smart-forms .input-hint {
  font-family: "Poppins", sans-serif; }

.smart-forms input:checked + .checkbox, .smart-forms input:checked + .radio {
  border: 3px solid #4897d9; }

.smart-forms input:hover + .checkbox, .smart-forms input:hover + .radio {
  border-color: #4897d9; }

.smart-forms .checkbox:before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 6px;
  height: 3px;
  border: solid #4897d9;
  -webkit-border-width: 0 0 3px 3px;
  -moz-border-width: 0 0 3px 3px;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.smart-forms input:checked + .checkbox:before, .smart-forms input:checked + .radio:before {
  border-color: #4897d9; }

.smart-forms .rating:hover .rating-star:hover, .smart-forms .rating:hover .rating-star:hover ~ .rating-star, .smart-forms .rating-input:checked ~ .rating-star {
  color: #4897d9; }

.smart-forms label, .smart-forms input, .smart-forms button, .smart-forms select, .smart-forms textarea {
  font-family: "Poppins", sans-serif; }

.smart-forms .switch > input:checked + .switch-label {
  border-color: #4897d9;
  background: #4897d9; }
  .smart-forms .switch > input:checked + .switch-label:focus, .smart-forms .switch > input:checked + .switch-label :active {
    border-color: #4897d9;
    background: #4897d9; }

.smart-forms .tagline span {
  color: #4897d9; }

/*
Hero templates
*/
@media (min-width: 992px) {
  .hero-search {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important; } }

.searchWrap {
  padding: 20px 15px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  border-radius: 5px; }
  .searchWrap.verticalWrap {
    padding: 40px 20px; }

/*
Footer styles
*/
.footer.footer-dark {
  background: #222222;
  background: #0d2235; 
 color: #eeeeee;
}
  .footer.footer-dark h3 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: capitalize; }
  .footer.footer-dark hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer .social-icons li {
  padding-right: 20px; }
  pa
.footer .social-icons li:last-child {
    padding-right: 0; }
  .footer .social-icons li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    text-transform: capitalize; }
    .footer .social-icons li a i {
      position: relative;
      border-right: 1px solid rgba(255, 255, 255, 0.6);
      text-align: center;
      padding-right: 10px;
      margin-right: 10px; }
    .footer .social-icons li a:hover {
      color: white; }

.footer h4 {
  display: inline-block;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0; }
  .footer h4 i {
    margin-right: 8px; }

.footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem; }

/**sticky footer page**/
@media (min-width: 768px) {
  .sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%; } }

.footer-list-item li {
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative; }
  .footer-list-item li:last-child {
    padding-bottom: 0px; }
  .footer-list-item li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f105";
    font-family: 'FontAwesome'; }
  .footer-list-item li a {
    color: rgba(255, 255, 255, 0.8); }
    .footer-list-item li a:hover {
      color: #fff; }
  .footer-list-item li em {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.contact-list-item li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  min-height: 32px;
  padding-top: 5px; }
  .contact-list-item li:last-child {
    padding-bottom: 0px; }
  .contact-list-item li > i {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    display: block; }

.footer-nav li {
  padding-top: 10px; }
  .footer-nav li + li {
    padding-left: 15px; }
  .footer-nav li a {
    color: #fff;
    opacity: 0.7;
    font-size: 13px; }
    .footer-nav li a:hover {
      opacity: 1; }

/********************

Responsive style

**********************/
@media (max-width: 991px) {

  .hero-search .display-2 {
    font-size: 3rem; }
  .hero-search .h1 {
    font-size: 2rem; }
  .dropdown-menu {
    box-shadow: none; }
  .dropdown-submenu .dropdown-menu {
    display: block;
    padding-left: 15px; }
  .navbar-right-elements {
    right: 0px; }
  .cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background-color: #4897d9;
    z-index: 10;
    position: relative; } }
/*********************************************************/
.article_body {
    padding: 0px 20px 30px;
}
.foot-link li  {
    padding: 0 15px 20px;
}
.foot-link li a {
        color: #f9f9f9;
        font-size: 14px;
        text-shadow: 0 1px #383535;
}
.foot-link-cover{
        padding-top: 20px;
   // border-top: 1px solid #ddd;
   // border-bottom: 1px solid #ddd;
}
.bgfc {
    background: #e3fff8;
}
.text-inherit,.tinherit,a.tinherit{color: #333333 !important;} 
@media (max-width: 768px) {
  #foot-link li:first-child{border-top: 1px dotted #3D75A8;}
  #foot-link li{
    display: block;
    text-align: left;
    border-bottom: 1px dotted #3D75A8;
    padding: 5px 2%;
  }
  .navbar-light.bg-faded{
    margin-bottom: 0px
  }
}
@media (max-width: 991px) {
  .pad0{padding: auto !important;}
  
  .page_title{
    font-size: 125%;
    white-space: inherit;
    overflow: visible;
    white-space: normal;
width: 100%;
line-height: 150%;
  }
  
    .img_card {
      max-width: 90%  !important;
      margin: 20px 5% !important;
  }
  }
  }
  .hidden-xs{display: none;}

}